{% extends '@App/base.html.twig' %}

{% block title 'Chart' %}

{% block body %}
    <div class="container">
        <a href="{{ path('homepage') }}">To main</a>
        <br>
        <canvas id="line-chart" width="800" height="450"></canvas>
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume values</th>
            </tr>
            </thead>
            <tbody>
                {% for item in tableData %}
                    <tr>
                        <td>{{ item['date'] }}</td>
                        <td>{{ item['open'] }}</td>
                        <td>{{ item['high'] }}</td>
                        <td>{{ item['low'] }}</td>
                        <td>{{ item['close'] }}</td>
                        <td>{{ item['volume'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: {{ label | raw }},
                datasets: [{
                    data: {{ data | raw }},
                    borderColor: "#3e95cd",
                    fill: false,
                    label: '{{ companyName }}'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: '{{ companyName }}'
                }
            }
        })
    </script>
{% endblock %}