{% extends '@App/base.html.twig' %}

{% block title 'Form' %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {% form_theme form 'TetranzSelect2EntityBundle:Form:fields.html.twig' %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('document').ready(() => {
            $('.datetimepicker').datepicker({
                dateFormat: "yy-mm-dd",
                maxDate: new Date()
            });
            $('#form_info').submit((e) => {
                const email = $('#main_email').val()
                const dateStart = Date.parse($('#main_dateStart').val())
                const dateEnd = Date.parse($('#main_dateEnd').val())
                if (!validateEmail(email)) {
                    $('#main_email').attr('invalid', 'invalid')
                    $('#main_email').after("<span style='color: red'>Invalid email</span>")
                    e.preventDefault()
                }
                if (dateStart > dateEnd) {
                    $('#main_dateStart').attr('invalid', 'invalid')
                    $('#main_dateEnd').attr('invalid', 'invalid')
                    $('#main_dateStart').after("<span style='color: red'>Date start should be less or equal date end</span>")
                    e.preventDefault()
                }
            });
        })
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
    </script>
{% endblock %}